.navbar {
    z-index: 999;
}

.linkNav {
    position: relative; 
    text-decoration: none;
    color: black;
}

.linkNav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 2px; 
    background: black; 
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
}

.linkNav:hover {
    color: rgb(66, 66, 66);
}

.linkNav:hover::after {
    transform: scaleX(1.1); 
}

.navItens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: -50px;
}

.navItensSm {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    top: 80px;
    background-color: white;
    width: 100%;
    z-index: 999;
}

.dNone {
    display: none;
}


@media(min-width: 768px) {
    .toggler {
        display: none;
    }

    .navItensSm {
        display: none;
    }

    .dNoneSm {
        display: none;
    }
}

@media (max-width: 768px) {
    .toggler {
        display: block;
    }

    .dNoneLg {
        display: none !important;
    }
}