.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(66, 66, 66);
}

.botaogeral {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  margin: 10px;
  border: 1px solid #00355E;
  border-radius: 12px;
  background-color: #00355E;
}

.botaogeral:hover {
  background-color: #00233E;
  border: 1px solid #00233E;
}